<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="nlog-internal.log">
  <variable name="dir" value="Log/${shortdate}"/>
  <variable name="layout" value="●${longDate} ${pad:padding=5:inner=${level:uppercase=true}} [${threadid}] - ${message} ${exception:format=tostring}"/>
  <targets>
    <default-target-parameters xsi:type="File"
                    archiveAboveSize="30720000"
                    archiveNumbering="Sequence"
                    encoding="utf-8"
                    layout="${layout}"/>
    <target name="console" xsi:type="Console" layout="${layout}"/>
    <target name="default" xsi:type="File"
        fileName="${dir}/${shortdate}.log"
        archiveFileName="${dir}/${shortdate}.{#}.log"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="default"/>
    <logger name="debugLog" minlevel="Debug" writeTo="console"/>
    <!--<logger name="xxx" final="true"/>
    --><!--默认日志--><!--
    <logger name="*" minlevel="Debug" writeTo="console,default" />-->
  </rules>
</nlog>
